.form-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    align-items: center;
}

.form-box {
    display: inline-flex;
  flex-direction: column;
  padding: 20px 40px;
  padding-bottom: 40px;
  background-color: #309dcf;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(34, 114, 151, 0.5), 10px 10px rgba(34, 114, 151, 0.4),
    15px 15px rgba(35, 114, 151, 0.3), 20px 20px rgba(48, 157, 151, 0.2),
    25px 25px rgba(48, 157, 151, 0.1);
}

.form-box p {
    color: #ec760c;
    font-weight: 500;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
    .form-box {
        width: 300px;
        padding: 20px 0;
    }
}
